@inject ProductRepository productRepo


@{
    ViewData["Title"] = "Products detailed page";
}


<div class="pt-5">
    <div class="pt-5">Article number:</div>
    <div>Hej</div>
</div>


@*Hämtar alla -----------------------------------------------------------------------------------*@
<div>
    @foreach(var product in await productRepo.GetAsync())
    {
        <div>
            <div><a asp-action="details" asp-route-string-id="@product.ArticleNumber">@product.Name</a></div>

            @if (product.ImageUrl != null)
            {
                <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
            }
            <div>
                @foreach (var tag in product.ProductTags)
                {
                    <span class="me-2">@tag.Tag.TagName</span>
                }
            </div>
        </div>
        
  
    }
</div>


