@model string
@inject ProductRepository productRepo

@{
    var product = await productRepo.GetAsync(x => x.ArticleNumber == Model);
}

<div class="pt-5">
    <div class="pt-5">Article number:</div>
    <div>Hej</div>
</div>

@if (product != null)
{
    <div>
        <div>@product.ArticleNumber</div>
        <div>@product.Name</div>
        @*      <div>
    @foreach (var tag in product.ProductTags)
    {
    <span class="me-2">@tag.Tag.TagName</span>
    }
    </div>*@
        <div>@product.Description</div>
    </div>
}
else
{
    <div>
        No product found!!!
    </div>
}