@model ContactIndexViewModel

<section class="formStyle">
    <div class="container d-flex justify-content-center mb-5 mt-5">
        <div class="borderStyle px-5 col-10 col-lg-8">

            <div class="d-flex justify-content-left">
                <div class="mt-5">
                    <p class="m-0 p-0">Write to us</p>
                    <p>-----------</p>
                </div>
            </div>


            <form method="post" asp-action="index" class="d-flex justify-content-center mt-1" novalidate>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-10 col-lg-12 formDesign">
                    <div class="d-flex">
                        <div class="mb-3" style="width:50%">
                            <label asp-for="Name" class="_formAdjust form-label">Your Name*</label>
                            <input asp-for="Name" class="form-control" />
                            <small><span asp-validation-for="Name" class="text-danger"></span></small>
                        </div>

                        <div class="mx-3"></div>


                        <div class="mb-3" style="width:50%">
                            <label asp-for="Email" class="_formAdjust form-label">Your Email*</label>
                            <input asp-for="Email" class="form-control" />
                            <small><span asp-validation-for="Email" class="text-danger"></span></small>
                        </div>
                    </div>


                    <div class="d-flex">
                        <div class="mb-3" style="width:50%">
                            <label asp-for="PhoneNr" class="_formAdjust form-label">Phone number (optional)</label>
                            <input asp-for="PhoneNr" class="form-control" />
                            <small><span asp-validation-for="PhoneNr" class="text-danger"></span></small>
                        </div>

                        <div class="mx-3"></div>


                        <div class="mb-3" style="width:50%">
                            <label asp-for="Company" class="_formAdjust form-label">Company (optional)</label>
                            <input asp-for="Company" class="form-control" />
                            <small><span asp-validation-for="Company" class="text-danger"></span></small>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Description" class="_formAdjust form-label">Message</label>
                        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                        <small><span asp-validation-for="Description" class="text-danger"></span></small>
                    </div>

                    @* checkbox går att klicka i, men används i övrigt inte.*@
                    <div class="d-flex pe-2 me-5">
                        <input type="checkbox" class="_box " />
                        <label class="ps-2 form-check-label">Save my name, email, and website in this browser for the next time I comment.</label>
                    </div>
                    

                    <div class="mt-2 mb-5" style="width:20%">
                        <button type="submit" class="btn-theme btn mt-5">Submit</button>
                    </div>
                </div>

            </form>
        </div>



    </div>
</section>

