<section class="newsletter">
    <div class="container">
        <form>
            <input type="text" placeholder="subscribe mail here..." maxlength="64">
            <button class="btn-theme btn-rounded"><i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
        </form>
    </div>
</section>






@*@model NewsletterViewModel

<section class="newsletter">
    <div class="container">
    

        <form method="post" asp-action="index" class="d-flex justify-content-center mt-1" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mt-2 mb-5" style="width:20%">
                <input asp-for ="Email" type="email" placeholder="subscribe mail here..." maxlength="64">
                <button type="submit" class="btn-theme btn-rounded"><i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
            </div>
        
        </form>
    </div>
</section>*@