@model UsersViewModel

@{
    ViewData["Title"] = "Admin page";
}

<div class="container mt-5">
    <h1>Backoffice</h1>
    <p>Du måste i backoffice-systemet kunna lista upp samtliga användare och visa deras roll.</p>

    <a class="link btn btn-info" asp-controller="ProductBackoffice" asp-action="index">TO PRODUCTS</a>
</div>


<div class="container">
    <h2>Visas detta?111</h2>
    @if (Model != null && Model.Users != null)
    {
        <h2>Visas detta?222</h2>
        <div class="container">
            @foreach (var user in Model.Users)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-left align-items-center">
                          
                          
                            <div class="mx-4">@("Name: " + user.FirstName)</div>
                            <div class="mx-4">@("Price: " + user.LastName)</div>
                      
                        </div>
                
                    </div>
                </div>
            }
        </div>
    }
</div>