<section class="top-selling">
    <div class="container-fluid">
        <h1 class="collection-title">Top selling products in this week</h1>
        <div class="collection-grid">

            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/270x295.svg" alt="">
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="info">
                        <div class="price">$30.00</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <!-- collection-item end -->
        </div>
        <div class="load-more">
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>

<section class="Card369 m-3">
    <div class="CardAll">

        <!-- collection-item start -->
        <div class="card m-3" style="width: 18rem;">
            <img src="images/placeholders/369x310.svg" alt="Placeholder">
            <div class="card-body">
                <div class="title">Table lamp 1562 LTG modal</div>
                <div class="cardText pt-3 pb-3">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                <p>Post by: Admin     Comments 13</p>
            </div>
        </div>
        <!-- collection-item end -->
        <!-- collection-item start -->
        <div class="card m-3" style="width: 18rem;">
            <img src="images/placeholders/369x310.svg" alt="Placeholder">
            <div class="card-body">
                <div class="title">Table lamp 1562 LTG modal</div>
                <div class="cardText pt-3 pb-3">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                <p>Post by: Admin     Comments 13</p>
            </div>
        </div>
        <!-- collection-item end -->

        <!-- collection-item start -->
        <div class="card m-3" style="width: 18rem;">
            <img src="images/placeholders/369x310.svg" alt="Placeholder">
            <div class="card-body">
                <div class="title">Table lamp 1562 LTG modal</div>
                <div class="cardText pt-3 pb-3">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                <p>Post by: Admin     Comments 13</p>
            </div>
        </div>
        <!-- collection-item end -->
    </div>
</section>