@{
    var upToSell = upToSellService.GetLatest();
}


@if (upToSell != null)
{
    <section class="upToSell">
        <div class="container">
            <div class="mt-5 mb-5 collection-grid">
                <div class="item12 item-1">
                    <!-- collection-item start -->
                    <a href="#" class="collection-item">
                        <img src="@upToSell?.CardLeft.ImageUrl" alt="@upToSell?.CardLeft.Title">
                        <div class="body">
                            <div class="title">@upToSell?.CardLeft.Title</div>
                            <div class="info">
                                <div class="price">@upToSell?.CardLeft.Price</div>
                                <div class="offerPrice">@upToSell?.CardLeft.OfferPrice</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>
                        </div>
                    </a>
                    <!-- collection-item end -->
                </div>
                <div class="discover">
                    <!-- collection-content start -->
                    <div class="collection-content">
                        <div class="container">
                            <div class="titleRed">@upToSell?.TitleRed</div>
                            <div class="title">@upToSell?.Title</div>
                            <div class="ingress">@upToSell?.Ingress</div>
                            <div class="text">@upToSell?.Text</div>


                            @if (!string.IsNullOrEmpty(upToSell?.ButtonMore?.Url) && !string.IsNullOrEmpty(upToSell?.ButtonMore?.Content))
                            {
                                <a href="@upToSell?.ButtonMore?.Url" class="link">@upToSell?.ButtonMore?.Content</a>
                            }
                        </div>
                    </div>
                    <!-- collection-content end -->
                </div>
                <div class="item12 item-2">
                    <!-- collection-item start -->
                    <a href="#" class="collection-item">
                        <img src="@upToSell?.CardRight.ImageUrl" alt="@upToSell?.CardRight.Title">

                        <div class="body">
                            <div class="title">@upToSell?.CardRight.Title</div>
                            <div class="info">
                                <div class="price">@upToSell?.CardRight.Price</div>
                                <div class="offerPrice">@upToSell?.CardRight.OfferPrice</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>
                        </div>
                    </a>
                    <!-- collection-item end -->
                </div>
            </div>
        </div>
    </section>
}