@model ProductCombinedViewModel



@*<partial name="/Views/Partials/_GridCollectionItem.cshtml" />*@


<div class="bmerketo-card">
    <div class="container">
        <h1>All products</h1>

        <div class="b-card ">
            @foreach (var product in Model.Products)
            {
                <a href="#" class=" m-3">
                    <div class="card-body">

                        @if (product.ImageUrl != null)
                        {
                            <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="50" width="50" />
                        }
                        <div class="cardContent">

                            <h5 class="title">@(product.Name)</h5>

                            <div class="body-text">
                                @if (product.OfferPrice != null)
                                {
                                    <div class="priceOffer">@("$" + product.OfferPrice)</div>
                                }
                                <div class="price">@("$" + product.Price)</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>